<%- include ('partials/header') -%>

<div class="wrapper">
<h1> Home </h1>

<hr>

<h3>Hi, My name is Nathaniel,</h3>

<p>This is my personal blog where I track my progress as a software developer. <br>
     I will be sharing not only my projects and their progression but also the skill paths I am pursuing as I refine and focus on building what I truly enjoy. <br>
    If you are interested in collaborating or working with me, please feel free to reach out via the contact page. </p>


<% newPost.forEach(function(post){ %>
<div class="post">
    <hr>
    <h3><%= post.date %> </h3>
    <h4><%= post.title %> </h4>
    <p><%= post.body.substring(0,100) + " ..." %>
    <a href="post/<%= post._id %>">Read More</a>
    </p>

</div>
<% }) %>
</div>


<%- include ('partials/footer') -%>