<%- include ('partials/header') -%>


<section id="intro">
    <div class="content-section">
        <div class="jumbotron">
            <h1 class="display-4">Hi, my name is Nathaniel</h1>
            <h2 class="display-6">I'm a Fullstack Developer</h2>
            <p class="lead">In this is my personal site where I aim to showcase my progress as I hone my skills as a Dev.</p>
            <a class="btn btn-dark intro-cta-btn" href="#contact" role="button">Lets chat!</a>
            </p>
        </div>
    </div>
    <div class="icon-container">
        <i class="fa-solid fa-arrow-down"></i>
    </div>
</section>



<%-include('partials/portfolio') -%>

<%- include ('partials/about') -%>

<%- include ('partials/contact') -%>

<%- include ('partials/footer') -%>