<%- include ('partials/header') -%>

<div class="wrapper">
    <div class="container-greeting">
        <div class="greeting">
            <h1>Hi, my name is Nathaniel Ewing</h1>
        </div>
        <div>
            <h3>I'm a Software/web Developer</h3>
        </div>

        <div class="in-summery">
            <p>In this personal blog I track and showcase my progress as software developer.
                As i build projects I will share both my insights and learnings,
                But also challanges and tribulations.
                <p />
        </div>


    </div>



    <div class="container-posts">
        <% newPost.forEach(function(post){ %>
        <div class="post">
            <hr>
            <h3><%= post.date %> </h3>
            <h4><%= post.title %> </h4>
            <p><%= post.body.substring(0,100) + " ..." %>
                <a href="post/<%= post._id %>">Read More</a>
            </p>

        </div>
        <% }) %>
    </div>

</div>


<%- include ('partials/footer') -%>