<%- include ('partials/header') -%>

    <div class="post">
        <hr>
        <h3><%= today %> </h3>
        <h4><%= title %> </h4>
        <p><%= message %></p>
    </div>

<%- include ('partials/footer') -%>