<%- include ('partials/header') -%>

    <div class="post">
        <hr>
        <h3><%= foundPost.date %> </h3>
        <h4><%= foundPost.title %> </h4>
        <p><%= foundPost.body %></p>
    </div>

<%- include ('partials/footer') -%>